/*variables spotify*/
/*variables spotify*/
* {
    box-sizing: border-box;
}
.body-ecommerce {
    background-color: #e7e7e7;
    font-family: 'Figtree', sans-serif;
}
#page {
    .header-ecommerce {
        background-color: #fff159;
        padding: 8px 10px 12px 10px;
        .nav-logo {
            a {
                height: 34px;
                width: 134px;
            }
        }
        .nav-busqueda {
            form {
                position: relative;
                .search-field {
                    position: relative;
                    width: 100%;
                    padding: 10px 60px 10px 15px;
                }
                .wp-element-button {
                    position: absolute;
                    padding: 0;
                    width: auto;
                    padding: 10px 8px 10px 15px;
                }
            }
        }
        .nav-promocion {
            img {
                max-width: 340px;
                max-height: 39px;
            }
        }
    }
}