.row {
    .div-loop-canciones {
        background-color: #181818;
        .bg-loop-canciones{
            padding: 3%;
            border-bottom: 1px solid hsla(0,0%,100%,.1);
            color: #b3b3b3;
            height: 36px;
        }
        .div-cancion {
            .span-play {
                color: #b3b3b3;
            }
            h4 {
                color: #ddd;
            }
            h5 {
                color: #b3b3b3;
            }
            a {
                color: #b3b3b3;
                text-decoration: none;
            }
        }
        .div-cancion:hover{
            background-color: hsla(0,0%,100%,.1);
            .span-play {
                color: #ddd;
            }
            h5 {
                color: #ddd;
            }
            a {
                color: #ddd;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}